/* ------------------------ Task Container ------------------------ */
.task_container {
    display: grid;
    grid-template-columns: 50px 3fr 3fr 10px;
    color: #fff;
    margin: 10px 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid orange;
    width: 95%;
}

/* ------------------------ Task Container ------------------------ */
.ID {
    margin: 10px 20px 10px 5px;
    border: 0.5px solid orange;
    width: 20px;
    height: 20px;
    text-align: center;
}

.name {
    margin: 10px 200px 10px 5px;
    justify-self: start;
}

.description {
    margin: 10px 200px 10px 5px;
}